/* Description: this file contains styling for the widget. */

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 20px;
}

.container {
    margin: 0 auto;
    background: transparent;
    padding: 20px;
}

.container.search-page {
    max-width: 50%;
    padding: 0;
}

.container.options-page, .container.details-page {
    max-width: 70%;
}

header {
    text-align: left;
    margin-bottom: 20px;
}

#header-container {
    display: flex;
    align-items: center;
}

#header-container:hover {
    cursor: pointer;
}

#logo {
    margin-right: 10px;
    height: 50px;
}

h1 {
    color: #333;
}

h2 {
    color: #333;
    text-align: center;
}

form {
    color: #333;
    display: flex;
    flex-direction: column;
    position: relative;
}

label {
    margin: 10px 0 5px;
    text-align: center;
    display: block;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 95%;
}

button {
    width: 40%;
    align-self: center;
    padding: 10px;
    background-color: #eee;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ddd;
}

.button-div {
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
}

.button-div button {
    margin: 10px 10px;
    align-self: center;
}

#flight-details {
    margin-top: 20px;
}

#map {
    width: 100%;
    height: 300px;
    background-color: #15181c;
    margin-top: 10px;
    border-radius: 5px;
}

.suggestions {
    border: 1px solid #ccc;
    background: white;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

.scrollable-list {
    border: 1px solid #ccc;
    background: white;
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.flight-option {
    padding: 10px;
    margin-bottom: 1px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.flight-option:hover {
    background-color: #eaeaea;
}

.flight-option.selected {
    background-color: #cfd8dc;
}

#flight-details {
    margin-top: 20px;
    display: none;
}

#flight-info {
    font-size: 14px;
    line-height: 1.5;
}

#flight-list table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 10px 10px;
    border-radius: 10px;
    overflow: hidden;
}

#flight-list th, #flight-list td {
    padding: 12px;
    text-align: left;
    white-space: normal;
    word-wrap: break-word;
    font-size: 1em;
}

#flight-list th {
    background-color: #f2f2f2;
    cursor: pointer;
}

#flight-list tbody tr {
    background-color: white;
    border-radius: 8px;
}

#flight-list tbody tr:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

th.asc::after {
    content: ' ▲';
}

th.desc::after {
    content: ' ▼';
}

@media screen and (max-width: 600px) {
    #flight-list table, #flight-list th, #flight-list td {
        width: auto;
        display: block;
    }
}